<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/dashboard">
                        Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/new">New Appointment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/list"> Appointment List</a>
                </li>

            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-success" type="button">Logout</button>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>

<!-- --------------------------------------------------------- -->

<!-- 
<div class="container-fluid">
    <div class="row pb-1">
        <div class="col-12 text-end">
            <button class="btn btn-success">All </button>
            <button class="btn btn-primary">Todays </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Rohit Sharma</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">1</span> 
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Mumbai</span>
                                <span class="widget-49-meeting-time">22 Dec 7.00 Pm</span>
                            </div>
                        </div> 
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-success"> Done</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Virat Kohli</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">2</span> 
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">New Mumbai</span>
                                <span class="widget-49-meeting-time">22 dec 7.30 Pm</span>
                            </div>
                        </div>
                        
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-outline-primary">Mark Done</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Suresh Raina</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">3</span> 
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">New Mumbai</span>
                                <span class="widget-49-meeting-time">22 dec 7.30 Pm</span>
                            </div>
                        </div>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-outline-primary">Mark Done</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Ankit Rao</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-primary">
                                <span class="widget-49-date-day">4</span> 
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">Mumbai</span>
                                <span class="widget-49-meeting-time">22 Dec 8.00 Pm</span>
                            </div>
                        </div> 
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-outline-primary">Mark Done</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Sachin Tendulkar </h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">5</span> 
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title"> Mumbai</span>
                                <span class="widget-49-meeting-time">22 dec 7.30 Pm</span>
                            </div>
                        </div>
                        
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-outline-primary">Mark Done</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">Aditya</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">6</span> 
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">New Mumbai</span>
                                <span class="widget-49-meeting-time">22 dec 8.30 Pm</span>
                            </div>
                        </div>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-outline-primary">Mark Done</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
